@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Spinnaker&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
html {
  scroll-behavior: smooth; }

body {
  font-family: "Overlock", "cursive";
  font-size: 18px;
  font-weight: 400;
  color: var(--bs-emphasis-color); }

.color__digora1--texto {
  color: #2f9d96 !important; }

.color__digora2--texto {
  color: #d1a8c8 !important; }

.color__digora1--bg {
  background-color: #2f9d96 !important; }

.color__digora2--bg {
  background-color: #d1a8c8 !important; }

.contenedor__img {
  overflow: hidden; }

.contenedor__img:hover .img__card {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.img__card {
  transition: 0.5s; }

.txt__brand__01 {
  font-family: "Overlock", "cursive"; }

.txt__brand__02 {
  font-family: "Spinnaker", "sans-serif";
  font-size: 16px; }

.isotipo {
  width: 60px; }

.logotipo {
  font-family: "Spinnaker", "sans-serif";
  font-size: 35px;
  color: #2f9d96; }

.logotipo__header--copy {
  font-size: 15px; }

.footer {
  font-size: 16px; }

.isotipo--footer {
  width: 80px; }

.logotipo--footer {
  font-family: "Spinnaker", "sans-serif";
  font-size: 35px; }

.logotipo--footer-copy {
  font-size: 15px; }

.footer__derechos {
  background: var(--bs-emphasis-color); }

.titulo__footer {
  font-family: "Spinnaker", "sans-serif";
  font-size: 16px; }

.footer__img__cards {
  display: flex;
  justify-content: center; }

.footer__img__cards picture {
  display: block;
  width: auto;
  height: 25px;
  margin: 0 25px; }

.footer__img__cards img {
  display: block;
  height: 25px;
  width: auto; }

.caja__portada {
  height: 260px;
  overflow: hidden;
  /*  background-image: url("../img/slide01.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -200px bottom; */ }

.caja__centrada {
  top: 40%;
  height: 120px;
  width: 350px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.fondo_transparente {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  border-radius: 5px; }

.texto__medio {
  font-family: "Overlock", "cursive";
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 1.75em;
  text-align: center; }

.texto__grande {
  font-family: "Spinnaker", "sans-serif";
  font-size: 22px;
  letter-spacing: 0.2em;
  line-height: 1.75em;
  text-align: center; }

.div__boton__coleccion {
  height: 50px;
  top: 85%; }

.boton__coleccion {
  background-color: #d1a8c8;
  border: none;
  color: var(--bs-emphasis-color);
  text-align: center;
  transition: 0.3s;
  border-radius: 2px;
  font-size: 16px; }

.boton__coleccion:hover {
  background-color: rgba(209, 168, 200, 0.9);
  color: white;
  font-size: 18px; }

.tarjeta__parrafo--titulo {
  font-family: "Spinnaker", "sans-serif";
  font-size: 18px; }

.tarjeta__parrafo--descripcion {
  font-size: 16px; }

.btn__img__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  padding: 10px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

.btn__img:hover .btn__img__desc {
  opacity: 1; }

/* ******************************** */
/* @ MEDIA QUERIES */
/* ******************************** */
@media screen and (min-width: 578px) {
  .caja__portada {
    height: 400px; }
  .caja__centrada {
    top: 50%;
    height: 200px;
    width: 550px; }
  .texto__medio {
    font-size: 24px; }
  .texto__grande {
    font-size: 28px; }
  .boton__coleccion {
    font-size: 18px; }
  .boton__coleccion:hover {
    font-size: 20px; } }

@media screen and (min-width: 768px) {
  .caja__portada {
    height: 500px; } }

@media screen and (min-width: 992px) {
  .caja__portada {
    height: 700px; }
  .navbar-nav {
    font-size: 18px; } }
