
//logo simbolo
.isotipo{
    width: 40px;
}

//texto del logo
.logotipo{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size02;
    color: $glb-brand-color01;
    
}

//isotipo y logotipo
.imagotipo{
    width: 0px;
}

