.footer{
    font-size: $glb-font-size00;
    //height: 600px;
    //height: 100vh;
}

.isotipo--footer{
    width: 80px;
}

.logotipo--footer{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size02;
}

.logotipo--footer-copy{
    //font-size: $glb-font-size00;
    font-size:15px;
}

.footer__derechos{
    //background: var(--bs-emphasis-color);
    //background: $glb-brand-color01;
    //color: white;
}

.titulo__footer{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size00;
}

.footer__img__cards {
    display: flex;
    justify-content: center;
}


.footer__img__cards picture {
    //display: block;
    //width: auto;
    height: 25px;
    margin: 0 15px;
}

.footer__img__cards img {
    //display: block;
    height: 25px;
    //width: auto;
}