.footer{
    font-size: 14px;
    height: 600px;
    //height: 100vh;
}

.isotipo--footer{
    width: 100px;
}

.logotipo--footer{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size03;
    color: $glb-brand-color01;
}