.footer{
    font-size: $glb-font-size00;
    //height: 600px;
    //height: 100vh;
}

.isotipo--footer{
    width: 80px;
}

.logotipo--footer{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size02;
}

.logotipo--footer-copy{
    font-size: $glb-font-size00;
}

.footer__derechos{
    background: var(--bs-emphasis-color)
}

.titulo__footer{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size00;
}