
//logo simbolo
.isotipo{
    width: 60px;
}

//texto del logo
.logotipo{
    font-family: $glb-font-principal02;
    font-size: $glb-font-size02;
    color: $glb-brand-color01; 
}

.logotipo__header--copy{
    font-size: 15px;
}