.caja__portada{
    height: 260px;
    overflow: hidden;
/*  background-image: url("../img/slide01.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -200px bottom; */
}

.caja__centrada{
    top: 40%;
    height: 120px;
    width: 350px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fondo_transparente{
    //opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.texto__grande{
    font-family: $glb-font-principal01;
    font-size: $glb-t3-enfasis3;
    letter-spacing:0.2em;
    line-height: 1.75em;
    text-align: center;
}

.texto__medio{
    font-family: $glb-font-principal02;
    font-size: $glb-t5-subtitulo;
    letter-spacing:0.2em;
    line-height: 1.75em;
    text-align: center;
}


.div__boton__coleccion{
    height: 50px;
    top: 85%;
    //transform: translate(-50%, -50%);
}

.boton__coleccion{
    background-color: $glb-brand-color02;
    border: none;
    color: $glb-text-color01;
    text-align: center;
    transition: 0.3s;
    border-radius: 2px;
    font-size: $glb-t6-parrafo1;
}

.boton__coleccion:hover {
    background-color: rgba($glb-brand-color02,0.9);
    color: rgb(255, 255, 255);
    font-size: $glb-t5-subtitulo;
}

/* .tarjeta__parrafo--titulo{
    font-family: $glb-font-principal01;
    font-size: $glb-t5-subtitulo;
}

.tarjeta__parrafo--descripcion{
    font-size: $glb-t6-parrafo1;
} */


.btn__img__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    padding: 10px;
    font-size: $glb-t6-parrafo1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .btn__img:hover .btn__img__desc {
    opacity: 1;
  }
