

html {
    scroll-behavior: smooth;
}

body {
    font-family: $glb-font-principal01;
    font-size: $glb-font-size01;
    font-weight: 400;
    color: $glb-text-color01;
}

.color__digora--a {
    color: $glb-brand-color01 !important;
}

.pos__adelante {
    z-index: 5;
}

.caja__portada{
    height: 600px;
    overflow: hidden;
/*  background-image: url("../img/slide01.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -200px bottom; */
}