
html {
    scroll-behavior: smooth;
}

body {
    font-family: $glb-font-principal02;
    font-size: $glb-t5-subtitulo;
    font-weight: 400;
    color: $glb-text-color01;
}

.color__digora1--texto {
    color: $glb-brand-color01 !important;
}

.color__digora2--texto {
    color: $glb-brand-color02 !important;
}

.color__digora1--bg {
    background-color: $glb-brand-color01 !important;
}

.color__digora2--bg {
    background-color: $glb-brand-color02 !important;
}

.color__texto__negro{
    color: $glb-text-color01 !important;
}

.contenedor__img {
    overflow:hidden;
}

.contenedor__img:hover .img__card {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.img__card{
    transition: 0.5s;
}

.txt__brand__01{
    font-family: $glb-font-principal01;
}

.txt__brand__02{
    font-family: $glb-font-principal02;
}

.txt_logo{
    font-family: $glb-font-principal01;
    font-size: $glb-t1-logo;
    color: $glb-brand-color01;
}

.txt_titulo{
    font-size:$glb-t4-titulo ;
}

.txt_subtitulo{
    font-size:$glb-t5-subtitulo ;
}

.txt_parrafo{
    font-size:$glb-t6-parrafo1 ;
}
