/* ******************************** */
/* @ MEDIA QUERIES */
/* ******************************** */

//Pantallas mini a sm
@media screen and (max-width: 577px) {

}


//Pantallas sm a md
@media screen and (min-width: 578px) {

    .caja__portada{
        height: 400px;
    }

    .caja__centrada{
        top: 50%;
        height: 200px;
        width: 550px;
    }

    .texto__grande{
        font-size: $glb-t2-enfasis1;
    }

    .texto__medio{
        font-size: $glb-t3-enfasis2;
    }

    .boton__coleccion{
        font-size: $glb-t5-subtitulo;
    }

    .boton__coleccion:hover {
        font-size: $glb-t4-titulo;
    }

    .navbar-nav{
        font-size: $glb-t6-parrafo1;
    }

}

// Pantallas md a lg 768
@media screen and (min-width: 768px) {

    .caja__portada{
        height: 500px;
    }

}

// Pantallas lg a xl
@media screen and (min-width: 992px) {

    .caja__portada{
        height: 700px;
    }

    .navbar-nav{
        font-size: $glb-t5-subtitulo;
    }

}


//Pantallas xl a xxl*
@media screen and (min-width: 1200px) {

}


// Pantallas xxl a más
@media screen and (min-width: 1400px) {

}