$glb-brand-color01:#009f97;
$glb-text-color01:#000000;

$glb-font-principal01: 'Overlock', 'cursive';
$glb-font-principal02: 'Spinnaker', 'sans-serif';
$glb-font-size01: 16px;
$glb-font-size02: 26px;

