$glb-brand-color01:#2f9d96;
$glb-brand-color02:#d1a8c8;

$glb-text-color01:var(--bs-emphasis-color);

$glb-font-principal01: 'Spinnaker', 'sans-serif'; //texto para titulos y subtitulos
$glb-font-principal02: 'Overlock', 'cursive'; // texto para párrafos

$glb-t1-logo:36px;
$glb-t2-enfasis1:28px;
$glb-t3-enfasis2:24px;
$glb-t3-enfasis3:22px;
$glb-t4-titulo:20px;
$glb-t5-subtitulo:18px;
$glb-t6-parrafo1:16px;
$glb-t7-parrafo2:14px;