$glb-brand-color01:#2f9d96;
$glb-brand-color02:#d1a8c8;
$glb-text-color01:var(--bs-emphasis-color);

$glb-font-principal01: 'Overlock', 'cursive';
$glb-font-principal02: 'Spinnaker', 'sans-serif';
$glb-font-size01: 18px;
$glb-font-size02: 32px;
$glb-font-size03: 35px;

