
html {
    scroll-behavior: smooth;
}

body {
    font-family: $glb-font-principal01;
    font-size: $glb-font-size01;
    font-weight: 400;
    color: #000000;
}

.color__digora--a {
    color: $glb-brand-color01 !important; }

